name: Release

on:
  release:
    types: [published]

jobs:
  Build_And_Release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Gradle
        run: ./gradlew buildForGithub

      - name: Create Release
        uses: JasonEtco/upload-to-release@master
        with:
          args: build/distributions/notes.zip application/octet-stream
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
